@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Cedric Diggory Lore Page</h1>
            <hr />
            <section id="studenthuf">
                <h2>Cedric Diggory</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/2/23/CedricDiggoryProfile.png/revision/latest/scale-to-width-down/350?cb=20161123045136" alt="" width="270" height="360">
            <p id="main_text">
                Cedric Diggory (September/October, 1977 – 24 June, 1995) was the son of Amos Diggory and his wife. He started attending Hogwarts School of Witchcraft and Wizardry in 1989, and was sorted into Hufflepuff House. During his time at school he was a prefect and captained the Hufflepuff Quidditch team, playing as Seeker. In his sixth year Cedric put his name forward to compete in the Triwizard Tournament.
                <br /><br />
                He was selected as the Hogwarts Triwizard Champion and, although overshadowed in the press by the entry of Harry Potter, Cedric enjoyed almost overwhelming support from the student body, and after the first two tasks, tied with Harry for first place. Cedric and Harry completed the Third Task together. Both took hold of the Triwizard Cup, which transported them to the Little Hangleton graveyard. In the graveyard, Cedric was murdered by Peter Pettigrew with the Killing Curse, on the order of Lord Voldemort.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>