@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Draco Malfoy Lore Page</h1>
            <hr />
            <section id="studentsly">
                <h2>Draco Lucius Malfoy</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/c/cf/Harry-Potter-The-Deathly-Hallows-Part-II.jpg/revision/latest?cb=20140602031803" alt="" width="270" height="415">
            <p id="main_text">
                Draco Lucius Malfoy (born. 5 June, 1980) was a pure-blood wizard and the only son of Lucius and Narcissa Malfoy (née Black). The son of a Death Eater, Draco was raised to believe strongly in the importance of blood purity. He attended Hogwarts School of Witchcraft and Wizardry from 1991-1998 and was sorted into Slytherin House. During his years at Hogwarts, he became friends with Vincent Crabbe, Gregory Goyle, Pansy Parkinson, and other fellow Slytherins, but he quickly developed a rivalry with Harry Potter.
                <br /><br />
                He was made a prefect of his house and was a member of the Inquisitorial Squad during his fifth year, at the end of which his father was imprisoned in Azkaban following the Battle of the Department of Mysteries. Lord Voldemort charged Draco with making up for Lucius's failure, and he became a Death Eater at age sixteen, but was quickly disillusioned with the lifestyle. Draco was unable to complete his task — murdering Albus Dumbledore, which was taken over by Severus Snape — and only performed his other duties fearfully and reluctantly. He and his family defected hours before the end of the Second Wizarding War fearing for their lives.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>