@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Harry Potter Lore Page</h1>
            <hr />
            <section id="size_1">
                <h2>Harry James Potter</h2>
            </section> 
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/a/a9/Dhharryroomhighreso.png/revision/latest/scale-to-width-down/250?cb=20160722220125" alt="" width="250" height="500">
            <p id="main_text">Harry James Potter (born. 31 July, 1980) was a half-blood wizard, one of the most famous wizards of modern times. He was the only child and son of James and Lily Potter, both members of the original Order of the Phoenix. Harry's birth was overshadowed by a prophecy, naming either himself or Neville Longbottom as the one with the power to vanquish Lord Voldemort. After half of the prophecy was reported to Voldemort courtesy of Severus Snape, Harry was chosen as the target due to his many similarities with the Dark Lord. This caused the Potter family to go into hiding. Voldemort made his first vain attempt to circumvent the prophecy when Harry was a year and three months old. During this attempt he murdered Harry's parents as they tried to protect him, but this unsuccessful attempt to kill Harry led to Voldemort's first downfall. This downfall marked the end of the First Wizarding War, and to Harry henceforth being known as the "Boy Who Lived".</p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>