@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Hermione Granger Lore Page</h1>
            <hr />
            <section id="student">
                <h2>Hermione Jean Granger</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/4/41/Hermionedhface.jpg/revision/latest/scale-to-width-down/350?cb=20161221044857" alt="" width="270" height="360">
            <p id="main_text">Minister Hermione Jean Granger (born. 19 September, 1979) was a Muggle-born witch born to Mr and Mrs Granger, both dentists. At the age of eleven she learned that she was a witch, and had been accepted into Hogwarts School of Witchcraft and Wizardry. She began attending Hogwarts in 1991 and was Sorted into Gryffindor House. Hermione possessed a brilliant academic mind, and proved to be a gifted student in almost every subject that she studied.
                              <br /><br />
                              Hermione first met Harry Potter and Ron Weasley aboard the Hogwarts Express. Both boys found Hermione unfriendly and somewhat of an insufferable know-it-all. Later, her eagerness to please her professors and her constant correct answers reinforced their initial impression. However (in spite of the cool relationship between the three), Hermione stepped in to take the blame from Ron and Harry after they had saved her from a troll on Hallowe'en in 1991. Harry and Ron were surprised, but grateful and the three quickly became friends.</p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>