@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Horace Slughorn Lore Page</h1>
            <hr />
            <section id="teacher">
                <h2>Horace Eugene Slughorn</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/e/e0/Horace_Slughorn.jpg/revision/latest/scale-to-width-down/319?cb=20121226172917" alt="" width="270" height="360">
            <p id="main_text">
                Professor Horace Eugene Flaccus Slughorn (born. 28 April, between 1882 and 1913) was a pure-blood or half-blood wizard. He attended Hogwarts School of Witchcraft and Wizardry as a member of Slytherin before returning in 1931 as Potions Master. He also served as Head of Slytherin House, before retiring in 1981 due to a fear that Albus Dumbledore would discover that he had told Tom Riddle about Horcruxes.

                Following the return of Voldemort and the Death Eaters beginning to seek Slughorn out, the retired professor lived a life on the run, unsure if Voldemort intended to recruit him or kill him to keep his Horcruxes a secret. In 1996, Dumbledore convinced Slughorn to return to Hogwarts by tempting him out of retirement with the prospect of "collecting" Harry Potter as he had so many other students, with his true goal being to learn what Slughorn had told Riddle. Slughorn eventually divulged his true memory. He continued to teach during the 1997–1998 school year under Voldemort's regime, and was surprised to learn that Voldemort meant to recruit him only to teach the young wizards that Voldemort would deem suitable to attend Hogwarts.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>