@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Hufflepuff Lore Page</h1>
            <hr />
            <section id="hufflepuff">
                <h2>Hufflepuff</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/5/50/0.51_Hufflepuff_Crest_Transparent.png/revision/latest/scale-to-width-down/350?cb=20161020182518" alt="" width="270" height="360">
            <p id="main_text">
                Hufflepuff is one of the four Houses of Hogwarts School of Witchcraft and Wizardry. Its founder was the medieval witch Helga Hufflepuff. Hufflepuff is the most inclusive among the four houses; valuing hard work, dedication, patience, loyalty, and fair play rather than a particular aptitude in its members. The emblematic animal is a badger, and yellow and black are its colours. The Head of Hufflepuff is Pomona Sprout and the Fat Friar is the House's patron ghost.
                <br /><br />
                Hufflepuff corresponds roughly to the element of earth, and it is for that reason that the House colours were chosen: yellow represented wheat, while black was emblematic of soil. The Hufflepuff points hourglass contains yellow diamonds. Students sorted into Hufflepuff often demonstrate exceptional abilities in Herbology, owing to their correspondence to earth.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>