@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Luna Lovegood Lore Page</h1>
            <hr />
            <section id="size_2">
                <h2>Luna Lovegood</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/4/49/Luna_profile.jpg/revision/latest/scale-to-width-down/336?cb=20160902165706" alt="" width="270" height="360">
              <p id="main_text">
                  Luna Lovegood (b. 13 February, 1981) was a witch, the only child and daughter of Xenophilius and Pandora Lovegood. Her mother accidentally died while experimenting with spells when Luna was nine and Luna was raised by her father, editor of the magazine The Quibbler, in a rook-like house near the village of Ottery St Catchpole in Devon.

                  Luna attended Hogwarts School of Witchcraft and Wizardry from 1992-1999 and was sorted into Ravenclaw House. In her fourth year, Luna joined Dumbledore's Army, an organisation taught and led by Harry Potter, of which she became an important member. She participated in the Battle of the Department of Mysteries (1996) and the Battle of the Astronomy Tower (1997), and co-led the reconstituted Dumbledore's Army when Hogwarts fell under the control of Lord Voldemort
              </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>