@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><h1>Welcome to the main lore page.</h1>
            <br /><h3>Here you can find alot of interesting facts and explore the lore!</h3>
            <hr>
            <div class="btn-group">
                <div class="dropdown" style="padding:10px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Characters</button>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Students</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="~/Lore/HarryPotter.cshtml">Harry Potter</a></li>
                                <li class="dropdown-item"><a href="~/Lore/DracoMalfoy.cshtml">Draco Malfoy</a></li>
                                <li class="dropdown-item"><a href="~/Lore/HermioneGranger.cshtml">Hermione Granger</a></li>
                                <li class="dropdown-item"><a href="~/Lore/RonaldWeasley.cshtml">Ronald Weasley</a></li>
                                <li class="dropdown-item"><a href="~/Lore/GinnyWeasley.cshtml">Ginny Weasley</a></li>
                                <li class="dropdown-item"><a href="~/Lore/NevilleLongbottom.cshtml">Neville Longbottom</a></li>
                                <li class="dropdown-item"><a href="~/Lore/LunaLovegood">Luna Lovegood</a></li>
                                <li class="dropdown-item"><a href="~/Lore/ChoChang.cshtml">Cho Chang</a></li>
                                <li class="dropdown-item"><a href="~/Lore/CedricDiggory.cshtml">Cedric Diggory</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Teachers</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="~/Lore/MinervaMcGonagall.cshtml">Minerva McGonagall</a></li>
                                <li class="dropdown-item"><a href="~/Lore/ServerusSnape.cshtml">Serverus Snape</a></li>
                                <li class="dropdown-item"><a href="~/Lore/FiliusFlitwick.cshtml">Filius Flitwick</a></li>
                                <li class="dropdown-item"><a href="~/Lore/PomonaSprout.cshtml">Pomona Sprout</a></li>
                                <li class="dropdown-item"><a href="~/Lore/HoraceSlughorn.cshtml">Horace Sloghorn</a></li>
                                <li class="dropdown-item"><a href="~/Lore/RubeusHagrid.cshtml">Rubeus Hagrid</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="dropdown" style="padding:10px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Houses</button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" href="~/Lore/Gryffindor.cshtml">Gryffindor</a>
                        <a class="dropdown-item" href="~/Lore/Slytherin.cshtml">Slytherin</a>
                        <a class="dropdown-item" href="~/Lore/Hufflepuff.cshtml">Hufflepuff</a>
                        <a class="dropdown-item" href="~/Lore/Ravenclaw.cshtml">Ravenclaw</a>
                    </ul>
                </div>
            </div>
            <br /><br /><img id="pic1" src="https://i.redd.it/vdiee5gwgypy.jpg" alt="">
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>