@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Minerva McGonagall Lore Page</h1>
            <hr />
            <section id="teacher">
                <h2>Minerva McGonagall</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/2/24/McGonagall_dh2.png/revision/latest/scale-to-width-down/326?cb=20170829161459" alt="" width="270" height="360">
            <p id="main_text">
                Professor Minerva McGonagall, O.M. , (born. 4 October, 1935) was a half-blood witch, the only daughter of Muggle Robert McGonagall and witch Isobel Ross. She had two younger brothers, Malcolm and Robert Jr. Minerva was a registered Animagus who attended Hogwarts School of Witchcraft and Wizardry from 1947-1954 and was Sorted into Gryffindor House (but it took the sorting hat 5 ½ minutes to decide if she was Gryffindor or Ravenclaw, therefore making her a Hatstall).
                <br /><br />
                After her education, Minerva worked for two years at the Ministry of Magic and later returned to Hogwarts, where she became Head of Gryffindor House, Transfiguration professor and concurrently, at differing times, Deputy Headmistress and Headmistress of Hogwarts.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>