@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Ravenclaw Lore Page</h1>
            <hr />
            <section id="ravenclaw">
                <h2>Ravenclaw</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/2/29/0.41_Ravenclaw_Crest_Transparent.png/revision/latest/scale-to-width-down/350?cb=20161020182442" alt="" width="270" height="360">
            <p id="main_text">
                Ravenclaw is one of the four Houses of Hogwarts School of Witchcraft and Wizardry, founded by Rowena Ravenclaw. Members of this house are characterised by their wit, learning, and wisdom. Its house colours are blue and bronze, and its symbol is an eagle. The house ghost, who in life was the daughter of the house's founder Rowena Ravenclaw, is the Grey Lady. Ravenclaw corresponds roughly to the element of air; the House colours blue and bronze were chosen to represent the sky and eagle feathers respectively, both having much to do with air.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>