@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Severus Snape Lore Page</h1>
            <hr />
            <section id="teacher">
                <h2>Severus Snape</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/a/a3/Severus_Snape.jpg/revision/latest?cb=20150307193047" alt="" width="270" height="360">
            <p id="main_text">
                Professor Severus Snape (9 January, 1960 – 2 May, 1998) was a half-blood wizard serving as Potions Master (1981-1996), Defence Against the Dark Arts professor (1996-1997), and Headmaster (1997-1998) of the Hogwarts School of Witchcraft and Wizardry as well as a member of the Order of the Phoenix and a Death Eater. His double life played a extremely important role in both of the Wizarding Wars against Voldemort. The only child of Muggle lowlife Tobias Snape and Gobstones witch Eileen Snape (née Prince), Severus was raised in the Muggle dwelling of Spinner's End, which was in close proximity to the home of the Evans family, though in a poorer area. He met Lily and Petunia Evans when he was nine and fell deeply in love with Lily, becoming a close friend of hers.
                <br /><br />
                Severus started at Hogwarts with Lily in 1971, where he was Sorted into Slytherin House. This put him in the same year as Lily but unfortunately for him in rival houses. Severus became the immediate enemy of James Potter and Sirius Black and was a frequent victim of their bullying.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>