@{
    Layout = "~/_SiteLayout.cshtml";
}
<link href="~/Stylesheets/Lore.css" rel="stylesheet" type="text/css" />
<div class="flag bigflag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><h1>Slytherin Lore Page</h1>
            <hr />
            <section id="slytherin">
                <h2>Slytherin</h2>
            </section>
            <br /><br /><img id="picture" src="https://vignette.wikia.nocookie.net/harrypotter/images/d/d3/0.61_Slytherin_Crest_Transparent.png/revision/latest/scale-to-width-down/350?cb=20161020182557" alt="" width="270" height="360">
            <p id="main_text">
                Slytherin is one of the four Houses at Hogwarts School of Witchcraft and Wizardry, founded by Salazar Slytherin. In establishing the house, Salazar instructed the Sorting Hat to pick students who had a few particular characteristics he most valued. Those characteristics include: cunning, resourcefulness, and ambition.
                <br /><br />
                The founder highly valued and favoured pure-blood students and the Sorting Hat admitted that it can be a factor when being Sorted. Students of any blood status can now be placed in the house. However, a Muggle-Born student is rare.
                <br /><br />
                The emblematic animal of the house is a snake and its colours are green and silver. There were two notable heads of the house, Horace Slughorn took the role twice (first leaving in 1981 and then taking the role again from 1997 until leaving before 2016), and Severus Snape. The patron ghost of the house is the Bloody Baron.
            </p>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>