<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/Stylesheets/Main.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Page.Title - School of Wizards</title>
</head>
<body>
    <div id="Background">
        <header></header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="footer-gradient"></div>
            <p>&copy; @DateTime.Now.Year - School of Wizards</p>
        </footer>
    </div>
</body>
</html>