@{
    Layout = "~/_SiteLayout.cshtml";

    Validation.RequireField("Title", "A title is requiered.");
    Validation.RequireField("Post", "Your post is empty");
    

   
    var Title = Request.Form["Title"];
    var Post = Request.Form["Post"];
    

    if (IsPost && Validation.IsValid())
    {
        // Define the insert query. The values to assign to the
        // columns in the Product table are defined as parameters
        // with the VALUES keyword.
        if (ModelState.IsValid)
        {
            var insertQuery = "INSERT INTO Product (topic_sub, , Price) " +
                "VALUES (@0, @1, @2)";
           
            // Display the page that lists products.
            Response.Redirect("~/ListProducts");
        }
    }
}

<div class="flag f-form">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <form>
                <div class="form-group">
                    <br /><br /><label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
                </div>
                <div class="form-group">
                    <br /><br /><label for="exampleFormControlSelect1">Category</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Harry Potter films</option>
                        <option>Harry Potter books</option>
                        <option>Lore</option>
                        <option>Off topic</option>
                        <option>Spam</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Post</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Post new topic</button>
            </form>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>

