@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<label for="toggleflagcheckbox" class="togle-flag">≡</label>
<input type="checkbox" id="toggleflagcheckbox" name="name" value="" />
<div class="flag-container">
    <div class="flag-box">
        
        <a class="button-flag">Join</a>
    </div>
    <div class="flag-box-under">
        
    </div>
</div>
