@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<div class="flag-container">
    <div class="flag-box">

    </div>
    <div class="flag-box-under">
        
    </div>
</div>
