@{
    //chech of je al ingelogd bent
    if (Session["id"] != null)
    {
        Response.Redirect("~/forum.cshtml");
    }

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

<label for="toggleflagcheckbox" class="togle-flag" style="display: none;">≡</label>
<input type="checkbox" id="toggleflagcheckbox" name="name" value="" />

<div id="flag1" class="flag">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><h1>Welcome to the School of Wizards</h1>
            <br /><h3>Become a Wizard!</h3>
            <br /><p>Are you interested in the story of Harry Potter? Would you like to find out in which house you would be sorted? You can now do this! Join the website and find out what house you belong in.</p>
            <br /><a type="button" href="~/forum.cshtml" class="btn btn-secondary">Do the test!</a>
        </div>
        <div class="flag__bottom"></div>
    </div>
</div>

<div id="flag2" class="flag--info-inhoud ">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><br /><h3>Are you interested in the Harry Potter story?</h3>
            <br /><p>Are you interested in the story of Harry Potter? Do you want to find out some more interesting facts about Harry Potter? Find them here!</p>
            <br /><a type="button" href="~/Lore/MainLore.cshtml" class="btn btn-secondary">Look into the lore!</a>
        </div>
        <div class="flag__bottom"></div>
    </div>
</div>

<div id="box-house1" class="box-house box-house1">
    <br /><h1 style="font-family: 'Berkshire Swash', cursive;">Gryffindor</h1>
    <h3>The<a href="~/Lore/Gryffindor.cshtml">Gryffindor</a> house emphasises the traits of courage as well as "daring, nerve, and chivalry," and thus its members are generally regarded as brave, though sometimes to the point of recklessness. They can also be short-tempered. </h3>
    <br /><h3>notable Gryffindor members are:</h3>
    <br /><h3>
        <a href="~/Lore/HarryPotter.cshtml">Harry Potter, </a>
        <a href="~/Lore/RonaldWeasley.cshtml">Ronald Weasley, </a>
        <a href="~/Lore/HermioneGranger.cshtml">Hermione Granger & </a>
        <a href="~/Lore/MinervaMcGonagall.cshtml">Minerva McGonagall</a>
   </h3>

</div>
<div id="box-house2" class="box-house box-house2">
    <br /><h1 style="font-family: 'Berkshire Swash', cursive;">Slytherin</h1>
    <h3>
        <a href="~/Lore/Slytherin.cshtml">Slytherin</a> tend to be ambitious, shrewd, cunning, strong leaders, and achievement-oriented. They also have highly developed senses of self-preservation.[8] This means that Slytherins tend to hesitate before acting, so as to weigh all possible outcomes before deciding exactly what should be done.
    </h3>
    <br /><h3>Notable Slytherin members are:</h3>
    <br /><h3>
        <a href="~/Lore/DracoMalfoy.cshtml">Draco Malfoy, </a>
        <a href="~/Lore/SeverusSnape.cshtml">Severus Snape & </a>
        <a href="~/Lore/HoraceSlughorn.cshtml">Horace Slughorn</a>
    </h3>
</div>
<div id="box-house3" class="box-house box-house3">
    <br><h1 style="font-family: 'Berkshire Swash', cursive;">Hufflepuff</h1>
    <h3>
        <a href="~/Lore/Hufflepuff.cshtml">Hufflepuff</a> is the most inclusive among the four houses; valuing hard work, dedication, patience, loyalty, and fair play rather than a particular aptitude in its students.

        Hufflepuffs are known to have a strong moral code, and a sense of right and wrong. Hufflepuffs are usually accepting of everyone. Students in Hufflepuff are known to value everyone and treat them as equal.
    </h3>
    <br /><h3>Notable Hufflepuff members are:</h3>
    <br /><h3>
        <a href="~/Lore/CedricDiggory.cshtml">Cedric Diggory & </a>
        <a href="~/Lore/PomonaSprout.cshtml">Pomona Sprout</a>
    </h3>


</div>
<div id="box-house4" class="box-house box-house4">
    <br /><h1 style="font-family: 'Berkshire Swash', cursive;">Ravenclaw</h1>
    <h3><a href="~/Lore/Ravenclaw.cshtml">Ravenclaw</a> House prizes learning, wisdom, wit, and intellect in its members.  They also pride themselves in being original in their ideas, and methods. Often hard-working and diligent, as often is the case with intellectuals with a predisposition for academics, some of the pupils sorted under the blue-bronzed eagle are known to be inclined to dismiss certain social expectation for the sake of satisfying their own intellectual curiosity.</h3>
    <br /><h3>Notable Ravenclaw members are:</h3>
    <br /><h3>
        <a href="~/Lore/LunaLovegood.cshtml">Luna Lovegood,</a>
        <a href="~/Lore/ChoChang.cshtml">Cho Chang & </a>
        <a href="~/Lore/FiliusFlitwick.cshtml">Filius Flitwick</a>
    </h3>
</div>


<div id="emblem-box" class="eRight">
    <div onclick="emblemclick(this)" id="emblem-house1" class="emblem-house emblem-house1"></div>
    <div onclick="emblemclick(this)" id="emblem-house2" class="emblem-house emblem-house2"></div>
    <div onclick="emblemclick(this)" id="emblem-house3" class="emblem-house emblem-house3"></div>
    <div onclick="emblemclick(this)" id="emblem-house3" class="emblem-house emblem-house4"></div>
</div>

<ul id="carousel-buttons">
    <li onclick="switchCarousel(this)" class="cButton cButton1 active" href="#"></li>
    <li id="cButton2" onclick="switchCarousel(this)" class="cButton cButton2" href="#"></li>
    <li onclick="switchCarousel(this)" class="cButton cButton3" href="#"></li>
</ul>
