@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";

    

}
<label for="toggleflagcheckbox" class="togle-flag" style="display: none;">≡</label>
<input type="checkbox" id="toggleflagcheckbox" name="name" value="" />
<div id="flag1" class="flag-container flag-active">
    <div class="flag-box">
        
        <a class="button-flag" style="display: none;">Join</a>
    </div>
    <div class="flag-box-under">
        
    </div>
</div>
<div #="carousel-buttons" style="position: fixed; left:50%; top:50%;">
    <a onclick="switchCarousel(this)" class="cButton cButton1 active" href="#">0</a>
    <a onclick="switchCarousel(this)" class="cButton cButton2" href="#">0</a>
    <a onclick="switchCarousel(this)" class="cButton cButton3" href="#">0</a>
</div>
