@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Become a wizard";
}
<head>
	<link href="~/Stylesheets/Login.css" rel="stylesheet" type="text/css" />
	<style>
		.flag-login.flag-container {
			--width: 40vw;
			--flag-width: 0.8;
			--gray-green: rgb(222,99,99);
		}
	</style>
</head>
<div id="flag1" class="flag-container flag-active flag-login">
    <div  class="flag-box">

        <a class="button-flag" style="display: none;">Join</a>
       
            <form class="loginform">
                <div>
                    <label for="Email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="Email" placeholder="Email">
                    </div>
                </div>
                <div>
                    <label for="Password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="Password" placeholder="Password">

                    </div>
                    <div id="buttonlog">
                        <button type="button" class="btn btn-secondary btn-lg">Log in</button>
                    </div>
                    
                </div>
            </form>
         
        </div>
    <div class="flag-box-under">

    </div>
</div>
