@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Become a wizard";
}
<style>
    .flag-login.flag-container {
        --width: 40vw;
        --flag-width: 0.8;
        --gray-green: rgb(222,99,99);
    }
    .flag-register.flag-container {
        --width: 60vw;
        --flag-width: 0.8;
        --gray-green: rgb(87,136,98);
    }
</style>
<div id="flag1" class="flag-container flag-active flag-login">
    <div class="flag-box">

        <a class="button-flag" style="display: none;">Join</a>
    </div>
    <div class="flag-box-under">

    </div>
</div>
<div id="flag1" class="flag-container flag-active flag-register" style="left: 40%;">
    <div class="flag-box">

        <a class="button-flag" style="display: none;">Join</a>
    </div>
    <div class="flag-box-under">

    </div>
</div>