@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Become a wizard";
}
<div id="flag1" class="flag-container flag-active">
    <div class="flag-box">

        <a class="button-flag" style="display: none;">Join</a>
    </div>
    <div class="flag-box-under">

    </div>
</div>
<div id="flag1" class="flag-container flag-active" style="left: 50%;">
    <div class="flag-box">

        <a class="button-flag" style="display: none;">Join</a>
    </div>
    <div class="flag-box-under">

    </div>
</div>