@{
    if (Session["Rw"] == null)
    {
        Response.Redirect("~/pointsassignment.cshtml");
    }
    Layout = "~/_SiteLayout.cshtml";
    //house scores
    int Ra = Convert.ToInt32(Session["Rw"]);
    int Hu = Convert.ToInt32(Session["Hf"]);
    int Sl = Convert.ToInt32(Session["Sn"]);
    int Gr = Convert.ToInt32(Session["Gr"]);
    /*
    //totaal van alle punten
    int count = Ra + Hu + Sl + Gr;

    //percentage tenopzichte van het totaal
    int R = (Ra / count * 100);
    int H = (Hu / count * 100);
    int S = (Sl / count * 100);
    int G = (Gr / count * 100);

    
    double r = Math.Round(R, 1);
    double h = Math.Round(H, 1);
    double s = Math.Round(S, 1);
    double g = Math.Round(G, 1);

    //antwoorden
    int Rav = Convert.ToInt32(R);
    int Huf = Convert.ToInt32(h * 50);
    int Sly = Convert.ToInt32(s * 50);
    int Gry = Convert.ToInt32(g * 50);
    */

<style>
    .flagG, .flagH, .flagR, .flagS {
        --width: 25vw;
        top: 0;
    }

    .flagS {
            --fcolor: #2a623d;
        left: 0;
            height: @(Sl)vh;
        }

    .flagR {
            --fcolor: #222f5b;
        left: 25vw;
            height: @(Ra)vh;
        }

    .flagG {
            --fcolor: #ae0001;
        left: 50vw;
            height: @(Gr)vh;
    }

    .flagH {
        --fcolor: #f0c75e;
        left: 75vw;
        height: @(Hu)vh;
    }
</style>

<div class="flag flagS">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><br /><br /><br /><h4 style="text-align: center;">Slytherin</h4><br />
            <h5>@Sl Punten</h5>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>

<div class="flag flagR">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><br /><br /><br /><h4 style="text-align: center;">Ravenclaw</h4><br />
            <h5>@Ra Punten</h5>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>

<div class="flag flagG">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><br /><br /><br /><h4 style="text-align: center;">Gryffindor</h4><br />
            <h5>@Gr Punten</h5>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>

<div class="flag flagH">
    <div class="flag__container ">
        <div id="opmaak" class="flag__top">
            <br /><br /><br /><br /><br /><br /><br /><h4 style="text-align: center;">Hufflepuff</h4><br />
            <h5>@Hu Punten</h5>
        </div>
        <div class="flag__bottom--pointy"></div>
    </div>
</div>
}
