@{
    /**/

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sorting";

    int a, b, c, d;
    Random rnd = new Random();
    a = rnd.Next(1, 5);
    b = rnd.Next(1, 5);
    while (a == b)
    {
        b = rnd.Next(1, 5);
    }
    c = rnd.Next(1, 5);
    while (c == a || c == b)
    {
        c = rnd.Next(1, 5);
    }
    d = rnd.Next(1, 5);
    while (d == a || d == b || d == c)
    {
        d = rnd.Next(1, 5);
    }

}
<head>
    <link href="~/Stylesheets/sorting.css" rel="stylesheet" type="text/css" />
</head>

<div class="boxen">

    <div class="box box@(a)">
        <a class="box1" id="@a" href="#">click me1 </a>
    </div>
    <div class="box box@(b)">
        <a class="box2" id="@b" href="#">click me2 </a>
    </div>
    <div class="box box@(c)">
        <a class="box3" id="@c" href="#">click me3 </a>
    </div>
    <div class="box box@(d)">
        <a class="box4" id="@d" href="#">click me4 </a>
    </div>
</div>
