@{

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sorting";

    int a, b, c, d;
    Random rnd = new Random();
    a = rnd.Next(1, 5);
    b = rnd.Next(1, 5);
    while (a == b)
    {
        b = rnd.Next(1, 5);
    }
    c = rnd.Next(1, 5);
    while (c == a || c == b)
    {
        c = rnd.Next(1, 5);
    }
    d = rnd.Next(1, 5);
    while (d == a || d == b || d == c)
    {
        d = rnd.Next(1, 5);
    }

    int[] array = new int[4]
    {
        a, b, c, d
    };

}

<link href="~/Stylesheets/sorting.css" rel="stylesheet" type="text/css" />

@for (int i = 0; i<4; i++)
{
    switch (array[i])
    {
        case 1:
            <div class="box box@(i) vraag1_0">
                <a class="button" href="#">click me1</a>
            </div>
            break;
        case 2:
            <div class="box box@(i) vraag1_1">
                <a class="button" href="#">click me2</a>
            </div>
            break;
        case 3:
            <div class="box box@(i) vraag1_2">
                <a class="button" href="#">click me3</a>
            </div>
            break;
        case 4:
            <div class="box box@(i) vraag1_3">
                <a class="button" href="#">click me4</a>
            </div>
            break;
    }
}

<!--
<div class="boxen">

    <div class="box box@(a)">
        <a class="box1" id="@a" href="#">click me1 </a>
    </div>
    <div class="box box@(b)">
        <a class="box2" id="@b" href="#">click me2 </a>
    </div>
    <div class="box box@(c)">
        <a class="box3" id="@c" href="#">click me3 </a>
    </div>
    <div class="box box@(d)">
        <a class="box4" id="@d" href="#">click me4 </a>
    </div>
</div>
-->
