@{
    //1. setup sessions
    if (Session["Hufflepuff"] == null)
    {
        List<int> VraagCountList = new List<int>(new int[] { 1, 2 });
        Session["Vlist"] = VraagCountList;
        Session["Hufflepuff"] = 0;
        Session["Ravenclaw"] = 0;
        Session["Slytherin"] = 0;
        Session["Gryffindor"] = 0;
    }

    List<int> VList = (List<int>)Session["Vlist"];
    //2.
    if (IsPost)
    {
        //post waardes
        int Bvraag = Request.Form["vraag"].AsInt();
        int antwoord = Request.Form["antwoord"].AsInt();

        //fuctie die waardes bbij house sessions doet


        //vraag uit list halen

        VList.Remove(Bvraag);

    }

    //3. check of user klaar is, list is leeg
    if (VList.Count() == 0)
    {
        <h1>hi</h1>
    }

    Session["Vlist"] = VList;


    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sorting";

    //4. nieuw vraag

    //generator 1
    int a, b, c, d;
    Random rnd = new Random();
    a = rnd.Next(1, 5);
    b = rnd.Next(1, 5);
    while (a == b)
    {
        b = rnd.Next(1, 5);
    }
    c = rnd.Next(1, 5);
    while (c == a || c == b)
    {
        c = rnd.Next(1, 5);
    }
    d = rnd.Next(1, 5);
    while (d == a || d == b || d == c)
    {
        d = rnd.Next(1, 5);
    }
    int[] positie = new int[4] { a, b, c, d };


    Random random = new Random();
    int lp = rnd.Next(VList.Count);
    int aa = VList[lp];

}

<link href="~/Stylesheets/sorting.css" rel="stylesheet" type="text/css" />

@for (int i = 0; i < 4; i++)
{
    switch (positie[i])
    {
        case 1:
    <form method="post">
        <input type="hidden" name="vraag" value="@aa" />
    <input type="hidden" name="antwoord" value="1" />
    <button type="submit" class="box box@(i) vraag@(aa)_1">
        <div class="text"></div>
    </button>
    </form>
            break;
        case 2:
    <form method="post">
        <input type="hidden" name="vraag" value="@aa" />
        <input type="hidden" name="antwoord" value="2" />
        <button type="submit" class="box box@(i) vraag@(aa)_2">
            <div class="text"></div>
        </button>
    </form>
            break;
        case 3:
    <form method="post">
        <input type="hidden" name="vraag" value="@aa" />
        <input type="hidden" name="antwoord" value="3" />
        <button type="submit" class="box box@(i) vraag@(aa)_3">
            <div class="text"></div>
        </button>
    </form>
            break;
        case 4:
    <form method="post">
        <input type="hidden" name="vraag" value="@aa" />
        <input type="hidden" name="antwoord" value="4" />
        <button type="submit" class="box box@(i) vraag@(aa)_4">
            <div class="text"></div>
        </button>
    </form>
            break;
    }
    <h1 class="txtvraag">
        Coole vraag is dit 1!
    </h1>
}
