.loginform {
    width: 50%;
    display: inline-block;
    margin-left:25%;
    margin-right:25%;
    margin-top: 50%;
    transform:translateY(-50%);
    
}
#Background {
    background: url(../Images/bgl.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
#buttonlog {
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    transform: translateY(-50%);
}
#buttonlog button{
	width:100%;
}



