:root {
  --gray-green: rgb(87, 136, 98);
  --flag-width: 0.7;
}

/*flag toggle temp*/

.muggleflag4 {
    --fcolor: rgb(245, 70, 70)
}

.bigflag {
    --fcolor: #5F9EA0;
    --width: 100vw;
    --height: 105vh;
    left: 0;
    top: 0;
}

#toggleflagcheckbox {
    display: none;
}

.togle-flag {
    position: fixed;
    font-size: 80px;
    right: 20px;
    top: 50vh;
    color: white;
}

#toggleflagcheckbox:checked+.flag-container {
    top: 0px;
}

.flag-active {
    top: 0px;
}

/*Carousel buttons*/

#carousel-buttons, #carousel-buttons2 {
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.cButton:hover, .cButton.active {
    opacity: 0.6;
}

.cButton {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    opacity: 0.3;
    transition: opacity 1s;
}

.cButton2, .cButton3 {
  margin-left: 8px;
}

/*emblem*/

#emblem-box {
    background: url(../Images/HPTPCverD14.png) center center no-repeat;
    background-size: cover;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    transition: left 2.5s;
    cursor: pointer;
}

#emblem-box {
    display: flex;
    flex-wrap: wrap;
}

.emblem-house {
    width: 50%;
    height: 50%;
}

#emblem-box.eLeft {
    left: 25%;
}

#emblem-box.eRight {
    left: 75%;
}

#opmaak{
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

    #opmaak p{
        font-size: 20px;
}

#blockquote {
    background: transparent;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

    #blockquote:before {
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    #blockquote p {
        display: inline;
    }

    .f-form {
        --width: 60vw;
        top: 0;
        left: 20vw;
    }

h4 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

a {
    margin-left: 10px;
}

/*house boxen*/

.box-house {
    width: 50vw;
    height: 50vh;
    position: fixed;
    transition: top 2s, bottom 2s, left 2s, right 2s;
    font-family: 'Berkshire Swash', cursive;
}

.box-house1 {
    top: -50vh;
    left: -50vw;
    background-color: #a21a27;
    text-align:center;
}

.box-house2 {
    top: -50vh;
    right: -50vw;
    background-color: #005930;
    text-align: center;
}

.box-house3 {
    bottom: -50vh;
    left: -50vw;
    background-color: #d8ad21;
    text-align: center;
}

.box-house4 {
    bottom: -50vh;
    right: -50vw;
    background-color: #005491;
    text-align: center;
}

.box-house1.box-active {
    top: 0;
    left: 0;
}

.box-house2.box-active {
    top: 0;
    right: 0;
}

.box-house3.box-active {
    bottom: 0;
    left: 0;
}

.box-house4.box-active {
    bottom: 0;
    right: 0;
}
