.txtvraag {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150%;
    text-align: center;
    border: 3px solid white;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(13, 13, 13);
    opacity: 0.85;
}
/* 4 mooie boxjes */
.box {
    position: fixed;
    width: 50%;
    height: 50%;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.box0 {
    left: 0;
    top: 0;   
}

.box1 {
    right: 0;
    top: 0;
}

.box2 {
    left: 0;
    bottom: 0;
}

.box3 {
    right: 0;
    bottom: 0;
}

.box:hover {
    cursor: pointer;
}
.box:hover .text {
        transition: .5s ease;
        opacity: 1;
}
.vraag1_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img1.png") center center no-repeat;
    background-size: cover;
}

.vraag1_1:hover {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img1.png") center center no-repeat;
    background-size: cover;
}
.vraag1_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img2.jpg") center center no-repeat;
    background-size: cover;
}
.vraag1_2:hover {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img2.jpg") center center no-repeat;
    background-size: cover;
}
.vraag1_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img3.jpg") center center no-repeat;
    background-size: cover;
}
.vraag1_3:hover {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img3.jpg") center center no-repeat;
    background-size: cover;
}
.vraag1_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img4.png") center center no-repeat;
    background-size: cover;
}

.vraag1_4:hover {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img4.png") center center no-repeat;
    background-size: cover;
}

.vraag2_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img5.jpg") center center no-repeat;
    background-size: cover;
}

.vraag2_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img5.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag2_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img6.png") center center no-repeat;
    background-size: cover;
}

.vraag2_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img6.png") center center no-repeat;
        background-size: cover;
    }

.vraag2_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img7.jpg") center center no-repeat;
    background-size: cover;
}

.vraag2_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img7.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag2_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img8.jpg") center center no-repeat;
    background-size: cover;
}

.vraag2_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img8.jpg") center center no-repeat;
        background-size: cover;
    }


.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}
