.txtvraag {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150%;
    text-align: center;
    border: 3px solid white;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(13, 13, 13);
    opacity: 0.85;
}
/* 4 mooie boxjes */
.box {
    position: fixed;
    width: 50%;
    height: 50%;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.box0 {
    left: 0;
    top: 0;   
}

.box1 {
    right: 0;
    top: 0;
}

.box2 {
    left: 0;
    bottom: 0;
}

.box3 {
    right: 0;
    bottom: 0;
}

.box:hover {
    cursor: pointer;
}
.box:hover .text {
        transition: .5s ease;
        opacity: 1;
}
.vraag1_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img1.png") center center no-repeat;
    background-size: cover;
}

.vraag1_1:hover {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img1.png") center center no-repeat;
    background-size: cover;
}
.vraag1_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img2.jpg") center center no-repeat;
    background-size: cover;
}
.vraag1_2:hover {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img2.jpg") center center no-repeat;
    background-size: cover;
}
.vraag1_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img3.jpg") center center no-repeat;
    background-size: cover;
}
    .vraag1_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img3.jpg") center center no-repeat;
        background-size: cover;
    }
.vraag1_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img4.png") center center no-repeat;
    background-size: cover;
}

    .vraag1_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img4.png") center center no-repeat;
        background-size: cover;
    }

.vraag2_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img5.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag2_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img5.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag2_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img6.png") center center no-repeat;
    background-size: cover;
}

.vraag2_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img6.png") center center no-repeat;
        background-size: cover;
    }

.vraag2_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img7.jpg") center center no-repeat;
    background-size: cover;
}

.vraag2_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img7.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag2_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img8.jpg") center center no-repeat;
    background-size: cover;
}

.vraag2_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img8.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag3_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img9.png") center center no-repeat;
    background-size: cover;
}

    .vraag3_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img9.png") center center no-repeat;
        background-size: cover;
    }

.vraag3_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img10.png") center center no-repeat;
    background-size: cover;
}

    .vraag3_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img10.png") center center no-repeat;
        background-size: cover;
    }

.vraag3_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img11.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag3_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img11.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag3_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img12.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag3_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img12.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag4_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img13.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag4_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img13.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag4_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img14.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag4_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img14.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag4_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img15.png") center center no-repeat;
    background-size: cover;
}

    .vraag4_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img15.png") center center no-repeat;
        background-size: cover;
    }

.vraag4_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img16.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag4_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img16.jpg") center center no-repeat;
        background-size: cover;
    }


.vraag5_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img17.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag5_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img17.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag5_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img18.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag5_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img18.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag5_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img19.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag5_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img19.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag5_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img20.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag5_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img20.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag6_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img21.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag6_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img21.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag6_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img22.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag6_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img22.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag6_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img23.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag6_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img23.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag6_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img24.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag6_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img24.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag7_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img25.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag7_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img25.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag7_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img26.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag7_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img26.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag7_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img27.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag7_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img27.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag7_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img28.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag7_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img28.jpg") center center no-repeat;
        background-size: cover;
    }


.vraag8_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img29.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag8_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img29.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag8_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img30.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag8_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img30.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag8_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img31.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag8_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img31.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag8_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img32.png") center center no-repeat;
    background-size: cover;
}

    .vraag8_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img32.png") center center no-repeat;
        background-size: cover;
    }


.vraag9_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img33.jpeg") center center no-repeat;
    background-size: cover;
}

    .vraag9_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img33.jpeg") center center no-repeat;
        background-size: cover;
    }

.vraag9_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img34.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag9_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img34.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag9_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img35.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag9_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img35.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag9_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img36.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag9_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img36.jpg") center center no-repeat;
        background-size: cover;
    }


.vraag10_1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img37.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag10_1:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img37.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag10_2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img38.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag10_2:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img38.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag10_3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img39.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag10_3:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img39.jpg") center center no-repeat;
        background-size: cover;
    }

.vraag10_4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/img/img40.jpg") center center no-repeat;
    background-size: cover;
}

    .vraag10_4:hover {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../Images/img/img40.jpg") center center no-repeat;
        background-size: cover;
    }



.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    text-shadow: 2px 2px black;
}
